*{
  padding: 0;  
  margin: 0; 
 }
  
body{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(141, 193, 230);
    font-family: sans-serif;
}
.calculator
{
    width: 300px;
    padding-bottom: 15px;
    border-radius: 7px;
    background-color: #EBF5FF;
    box-shadow: 5px 8px 8px -2px rgba(0, 0, 0, 0.61);
}
.display 
{
    width: 100%;
    height: 80px;
    border: none;
    box-sizing: border-box;
    padding: 10px;
    font-size: 2rem;
    background-color: #A2D0FA;
    color: #000;
    text-align: right;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}
.row 
{
    display: flex;
    justify-content: space-between;
}
button 
{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    outline: none;
    font-size: 1.5rem;
    background-color: #CCE5FF;
    color: black;
    margin: 10px;
}
button:hover 
{
    cursor: pointer; 
}
.operator 
{
    background-color: #9ac4ec;
    color: #000;
}